{% extends 'shop/base.html' %}

{% block title %}
    {{ game.title }}
{% endblock %}

{% block body %}
    <h1>{{ game.title }}</h1>
    {% if game %}
        <div>
            <p></p>
            <div>
                Genres:
                <ul>
                    {% for genre in game.genres.all %}
                        <li>{{ genre.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <p> {{ game.description }}</p>
            <p> Realised at {{ game.release_date }}</p>

            <p> Price: {{ game.price }}</p>
            <p>
                <button>Buy</button>
            </p>
        </div>
    {% else %}
        <h1> No game with this id yet</h1>
    {% endif %}
{% endblock %}